@font-face {
  font-family: 'zp-icon';
  src:  url('https://danslacuisinededede.com/calforina-landing/plugins/zp-icon/fonts/zp-icon4e92.html?j6o7ap');
  src:  url('https://danslacuisinededede.com/calforina-landing/plugins/zp-icon/fonts/zp-icon4e92.html?j6o7ap') format('embedded-opentype'),
    url('../font/zp-icon4e92.ttf') format('truetype'),
    url('../font/zp-icon4e92.woff') format('woff'),
    url('../font/zp-icon4e92.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="zp-icon-"], [class*=" zp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zp-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zp-icon-menu:before {
  content: "\e90b";
}
.zp-icon-architect-with-helmet:before {
  content: "\e900";
}
.zp-icon-couch:before {
  content: "\e901";
}
.zp-icon-insurance:before {
  content: "\e902";
}
.zp-icon-old-telephone-ringing:before {
  content: "\e903";
}
.zp-icon-plan:before {
  content: "\e904";
}
.zp-icon-pumpjack:before {
  content: "\e905";
}
.zp-icon-right-quote:before {
  content: "\e906";
}
.zp-icon-skyline:before {
  content: "\e907";
}
.zp-icon-stairs:before {
  content: "\e908";
}
.zp-icon-time-passing:before {
  content: "\e909";
}
.zp-icon-wallpaper:before {
  content: "\e90a";
}
